* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;

    word-wrap: break-word;
    background-color: rgb(34, 37, 38);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;

    width: 100%;
    height: 10%;

    background-color: black;

    color: white;
    font-size: 35px;
    font-weight: bold;
}

.congratulate-winner {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);

    width: 500px;
    height: 500px;
}

.gameboard-space {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;

    background-color: black;

    border: 1px solid white;
}

.gameboard-space:hover {
    background-color: rgb(34, 37, 38);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    font-weight: bold;

    bottom: 0;

    color: white;
    background-color: black;
}

/* RESTART BUTTON */

.button-box {
  display: flex;
}

#restart-button, #change-players-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 75px;

  margin: 30px;

  font-size: 25px;
  font-weight: bold;

  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  background-color: rgb(50, 88, 194);
}

#restart-button:hover, #change-players-button:hover {
  color: white;
  background-color: rgb(50, 52, 175);
}

/* PLAYER FORM */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
    height: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    height: 10%;
  }
  
  .modal-header .title {
    font-size: 1.75rem;
    font-weight: bold;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    height: 90%;
  }

  .modal-body form {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    align-items: center;
  }

  #player-name-1, #player-name-2 {
    width: 100%;
    height: 12%;
  }

  #submit-button {
    border: none;
    width: 60%;
    height: 8%;
    color: white;
    font-weight: bold;
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .modal-header {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: none;
  }

  label {
    font-weight: bold;
  }