* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;

    word-wrap: break-word;
    background-color: rgb(34, 37, 38);
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);

    width: 500px;
    height: 500px;

    border: 3px solid green;
}

.gameboard-space {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;

    background-color: black;

    border: 1px solid red;
}

.gameboard-space:hover {
    background-color: rgb(34, 37, 38);
}

footer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    font-weight: bold;

    bottom: 0;

    color: white;
    background-color: black;
}